html {
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: var(--ff-heading);
	font-weight: var(--fw-regular);
}

h1 {
	font-size: 4.6rem;
	font-style: normal;
	font-weight: var(--fw-bold);
	line-height: 180%; /* 8.28rem */
	letter-spacing: 0.4rem;
	text-transform: uppercase;
	margin: 0;
	background: var(--gradient-hero-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1.small {
	font-size: 3.2rem;
	font-weight:  var(--fw-regular);
	letter-spacing: 0.24rem;
}

h1.small span {
	font-weight: var(--fw-bold);
}

h2 {
	color: var(--primary-3, #3C096C);
	font-size: 2.4rem;
	font-style: normal;
	line-height: 165%; /* 3.96rem */
	letter-spacing: 0.4rem;
	text-transform: uppercase;
}

.label {
	/* Label */
	color: var(--primary-1, #10002B);
	font-size: 1.2rem;
	font-style: normal;
	line-height: 130%; /* 1.56rem */
	letter-spacing: 0.24rem;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
}

p {
	color: var(--body-80, rgba(16, 0, 43, 0.80));
	font-family: var(--ff-body);
	font-size: var(--fs-16);
	font-weight: var(--fw-regular);
	line-height: 165%; /* 2.64rem */
}

.highlight {
	position: relative;
	display: inline-block;
	font-weight: var(--fw-bold);
	z-index: 0;
}
.highlight:before {
	content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: var(--fw-bold);
    background: url(../img/gradient/highlight_generic.svg);
    background-repeat: no-repeat;
    background-position: right bottom 4px;
    box-sizing: border-box;
    background-size: initial;
    z-index: -1;
}

.link {
	/* Link */
	position: relative;
	color: var(--primary-3, #3C096C);
	font-size: 1.4rem;
	font-weight: var(--fw-medium);
	line-height: normal;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	padding: 0.8rem 0rem;
	padding-left: 4.4rem;
	border-bottom: 1px dashed rgba(16, 0, 43, 0.40);
	transition: all .2s;
}
.link:hover {
	color: var(--primary-1);
}

.link::before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	background: url(../img/gradient/right_arrow.svg);
	background-repeat: no-repeat;
  background-origin: border-box;
  background-position: left top -3px;
  transform: translateX(-44px);
  transition: all .2s;
}
.link:hover::before {
	transform: translateX(-36px);
}

/* Button Style */
.fancyButton:after {
	position: absolute;
	content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px dashed #D4BAEA;
  border-radius: 1rem;
  transition: .25s;
}
.fancyButton:hover:after {
	top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px dashed var(--secondary);
}

/*This removes styles added by default to button elements.
  For when something should semantically be a button,
  but isn't buttony in appearance.*/
.unbuttonize {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.
}

.bold {
	font-weight: var(--fw-bold);
}

.displayNone {
	display: none !important;
}

/* Global Search Styles */
.search{
	display: flex;
	padding: 0rem 3.2rem;
	align-items: center;
	gap: 1.6rem;
	align-self: stretch;
	/* background: linear-gradient(#F8F5FB, #F8F5FB) padding-box, var(--gradient-transparent) border-box; */
	background: linear-gradient(#FCFAFD, #FCFAFD) padding-box, var(--gradient-transparent) border-box;
	border: 1px solid transparent;
	border-radius: 10rem;
}
.search:focus-within {
	/* background: linear-gradient(#FEFCFF, #FEFCFF) padding-box, var(--gradient-transparent) border-box; */
	background: linear-gradient(#FFFFFF, #FFFFFF) padding-box, var(--gradient-transparent) border-box;
}
.search svg {
	fill: var(--secondary);
	width: 24px;
	height: 24px;
}
.search input {
	width: 100%;
	/* padding: 2.4rem 0; */
	padding: 1.3rem 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: var(--primary-3);
	letter-spacing: 0.14rem;
	font-family: var(--ff-body);
	font-weight: var(--fw-semi-bold);
	/* text-transform: capitalize; */
}
.search input::placeholder {
	font-family: var(--ff-heading);
	color: var(--search-text);
	font-size: 1.2rem;
	/* font-size: 1.4rem; */
	font-style: normal;
	font-weight: var(--fw-semi-bold);
	line-height: normal;
	letter-spacing: 0.24rem;
	text-transform: uppercase;
}
