/* Root Styles + CSS Variables  */

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;

	/* Base Font size to use Rem's easily	*/
	/* 1rem = 10px	*/
	font-size: 62.5%;

	--ff-body: 'Mulish', sans-serif;
	--ff-heading: 'Jost', sans-serif;

	/* Font Size */
	--fs-xxl: 4.6rem;
	--fs-xl: 3.2rem;
	--fs-l: 2.4rem;

	--fs-18: 1.8rem;
	--fs-17: 1.7rem;
	--fs-16: 1.6rem;
	--fs-15: 1.5rem;
	--fs-14: 1.4rem;
	--fs-13: 1.3rem;
	--fs-12: 1.2rem;
	--fs-11: 1.1rem;
	--fs-10: 1rem;

	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;


	/* ===== Colors ===== */

	/* Primary | Secondary | Tertiary */
	--primary-1: #10002B;
	--primary-2: #240046;
	--primary-3: #3C096C;
	--primary-4: #5A189A;
	--primary-5: #7121C2;
	--primary-6: #7B2CBF;
	--secondary: #D96F04;
	--tertiary: #70BF2B;

	/* Others */
	--search-text: #979DAC;
	--section-border: rgba(16, 0, 43, 0.1);

	/* Gradients */
	--gradient-default: linear-gradient(90deg, #7000FF -4.07%, #FF9B05 129.29%);
	--gradient-transparent: linear-gradient(90deg, rgba(112, 0, 255, 0.50) -4.07%, rgba(255, 155, 5, 0.50) 129.29%);
	--gradient-hero-text: linear-gradient(278deg, #3C096C 22.63%, #621CA3 95.05%);
	--gradient-hero-shape-bg: linear-gradient(180deg, rgba(149, 116, 221, 0.40) 0%, rgba(149, 116, 221, 0.00) 100%);

	/* Backgrounds */
	--bg-hero: linear-gradient(180deg, #FFF 0%, #EFE9F6 100%);
	--bg-body: linear-gradient(180deg, #EFE9F6 0%, #FFF 100%);
	--bg-footer: linear-gradient(180deg, #FFF -12.35%, #EFE9F6 100%);

	/* Body Text */
	--body: rgba(16, 0, 43, 1);
	--body-90: rgba(16, 0, 43, 0.9);
	--body-80: rgba(16, 0, 43, 0.8);

	/* Whites */
	--white: rgba(255, 255, 255, 1);
	--white-80: rgba(255, 255, 255, 0.8);
	--white-50: rgba(255, 255, 255, 0.5);
	--white-40: rgba(255, 255, 255, 0.4);

	/* Shadows */
	  --shadow-color: 260deg 21% 51%;
/* 	260deg 21% 51% */


		/* --shadow-elevation-low:
	    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
	    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
	    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
	  --shadow-elevation-medium:
	    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
	    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
	    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
	    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
	  --shadow-elevation-high:
	    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
	    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
	    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
	    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
	    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
	    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
	    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
	    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34); */



			  --shadow-elevation-low:
			    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.17),
			    0.4px 0.7px 0.9px -1.2px hsl(var(--shadow-color) / 0.17),
			    0.8px 1.5px 1.9px -2.5px hsl(var(--shadow-color) / 0.17);
			  --shadow-elevation-medium:
			    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.18),
			    0.7px 1.3px 1.7px -0.8px hsl(var(--shadow-color) / 0.18),
			    1.6px 3.2px 4px -1.7px hsl(var(--shadow-color) / 0.18),
			    3.8px 7.5px 9.5px -2.5px hsl(var(--shadow-color) / 0.18);
			  --shadow-elevation-high:
			    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.16),
			    0.8px 1.7px 2.1px -0.4px hsl(var(--shadow-color) / 0.16),
			    1.5px 2.9px 3.7px -0.7px hsl(var(--shadow-color) / 0.16),
			    2.3px 4.7px 5.9px -1.1px hsl(var(--shadow-color) / 0.16),
			    3.7px 7.3px 9.2px -1.4px hsl(var(--shadow-color) / 0.16),
			    5.7px 11.3px 14.2px -1.8px hsl(var(--shadow-color) / 0.16),
			    8.5px 17.1px 21.5px -2.1px hsl(var(--shadow-color) / 0.16),
			    12.5px 25px 31.4px -2.5px hsl(var(--shadow-color) / 0.16);







}
