@use '../abstracts/breakpoints' as *;

// Small Link Mixin
@mixin link_small() {
  font-size: var(--fs-12);
  padding-left: 3.6rem;
  &::before {
    transform: translateX(-18px) scale(.8);
  }
  &:hover::before {
    transform: translateX(-10px) scale(.8);
  }
}

// Global Link Styles
.link {
	position: relative;
	color: var(--primary-3, #3C096C);
	font-size: var(--fs-14);
	font-weight: var(--fw-medium);
	letter-spacing: 0.3rem;
	text-transform: uppercase;
  padding: 0.8rem 0rem;
  padding-left: 4.4rem;
	border-bottom: 1px dashed rgba(16, 0, 43, 0.40);
	transition: all .2s;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
  	position: absolute;
    left: 0;
    top: 0;
  	background: url(../img/gradient/right_arrow.svg);
  	background-repeat: no-repeat;
    background-origin: border-box;
    background-position: left center;
    transform: translateX(1px);
    transition: all .2s;
  }
  &:hover {
    color: var(--primary-1);
    &::before {
      transform: translateX(9px);
    }
  }
  @include breakpoint(medium) {
    margin-top: 2.4rem;
  }
  @include breakpoint(small) {
    @include link_small();
  }
}


// Standard Button Style
.button {
  position: relative;
  padding: 0.8rem 1.55rem;
  border-radius: 1rem;

  font-size: var(--fs-12);
  font-weight: var(--fw-medium);
  line-height: 133.2%; /* 1.5984rem */
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 0.8rem;
  transition: all .2s;
  img {
    width: 2rem;
    height: 2rem;
  }
  &:hover {
    background: white !important;
  }
}

/* Fancy Border | Complementary for a Button  */
.fancyBorder:after {
	position: absolute;
	content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px dashed var(--light-border2);
  border-radius: 1rem;
  transition: .25s;
}
.fancyBorder:hover:after {
	top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px dashed var(--secondary);
}


// View More Button
.viewMoreButton {
	position: relative;
	display: inline-block;
	width: fit-content;
  padding: 1rem 2rem;
  padding-left: 4rem;
  margin-top: 3rem;
  border: 1px dashed #D4BAEA;
  border-radius: 1rem;

	color: var(--primary-3);
	font-size: var(--fs-12);
	font-weight: var(--fw-medium);
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	transition: all .2s;
	cursor: pointer;

  &::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 5px;
    top: 4px;
    background: url("../img/gradient/down_arrow.svg");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: left top;
    transform: scale(.85);
    transition: all .2s;
  }

  &:hover::before {
    transform: rotate(-90deg) scale(.85);
  }
  @include breakpoint(small) {
    margin-top: 1.6rem;
  }
}


.chip {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  gap: .6rem;
  padding: .6rem .8rem .6rem 1rem;
  border-radius: 3rem;
  background: var(--light-bg);
  border: 1px solid var(--light-border);
  box-shadow: var(--shadow-card-low);
  &:hover {
    svg.close {
      fill: var(--primary-6);
    }
  }
  svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--primary-2);
    &.close {
      fill: var(--light-border2);
      width: 1.8rem;
      height: 1.8rem;
      margin-left: .2rem;
    }
  }
  span {
    color: var(--primary-2);
    text-align: center;
    font-size: var(--fs-14);
    font-weight: var(--fw-regular);
    line-height: 2rem; /* 142.857% */
    letter-spacing: 0.04rem;
    text-wrap: nowrap;
  }

}
