// @use '../abstracts/breakpoints' as *;


$table_border_color: var(--light-border2);
$table_border: 1px solid $table_border_color;

.table {
  // background: var(--light-bg);
  // background: rgba(#FCF8FF, 0.5);
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.table td {
  padding: 16px 12px;
  border: $table_border;
  font-family: var(--ff-body);
  font-size: var(--fs-16);
  color: var(--primary-1);
}

.table thead tr td {
  font-weight: var(--fw-bold);
  letter-spacing: .1rem;
  background: #f8f4fd !important; // rgba(149, 116, 221, .06)
}

.scroll-container {
  background: #fdfbff; // rgba(#FCF8FF, 0.5);
  overflow: auto;
  margin-bottom: 40px;
  border-left: $table_border;
  border-right: $table_border;
  border-radius: 6px;
  &.list {
    border-radius: 1rem;
    padding: 1.4rem 2rem;
    border: 1px solid var(--light-border3);
    box-shadow: var(--shadow-elevation-medium);
  }
}

.scroll {
  margin: 0;
}

.scroll td:first-of-type {
  position: sticky;
  left: 0;
  border-left: none;
    background: #fdfbff; // rgba(#FCF8FF, 0.5);

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    height: 100%;
    width: 1px;
    background: $table_border_color;
  }
}

.scroll td:last-of-type {
  border-right: none;
}

// Table in List view
.table.tableList {
  tr {
    border-bottom: 1px solid var(--light-border3);
    &:last-of-type {
      border: 0px;
    }
  }
  td {
    padding: 20px 12px;
    border: 0px;
    &:first-of-type {
      &:after {
        width: 0px;
      }
    }
  }
}
