@use '../abstracts/breakpoints' as *;

#header {
  position: relative;
  padding: 4.8rem min(6%, 10rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  #logo {
    position: relative;
    width: 16rem;
    transition: transform .5s;
    z-index: 10;
  }

  nav {
    padding: 0rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    > a {
      color: var(--primary-1);
      font-size: var(--fs-13);
      font-weight: var(--fw-semi-bold);
      letter-spacing: 0.24rem;
      text-transform: uppercase;
      padding: .5rem 2.4rem;
      border: 1px dashed transparent;
      border-radius: 2.4rem;
      transition: all .1s;
      &:hover, &:focus, &.active {
        color: var(--primary-4);
        background-color: var(--light-bg);
        border-color: var(--light-border);
      }
    }
    #account, #accountMenu {
      position: relative;
      display: flex;
      justify-content: center;
      margin-left: 2.4rem;
      cursor: pointer;
      svg {
        width: 3rem;
        height: 3rem;
        fill: var(--primary-1);
        &:hover, &:focus {
          fill: var(--primary-5);
        }
      }
      #accountDropdown {
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        position: absolute;
        top: 40px;
        right: 0;
        backdrop-filter: blur(40px);
        background: var(--white-50);
        border-radius: 1rem;
        padding: .6rem 0 1rem;
        border: 1px solid var(--light-border3);
        box-shadow: var(--shadow-nav-low);
        transform: translateY(0rem);
        transition: all .15s cubic-bezier(0.16, 1, 0.5, 1);
        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(1rem);
          transition: all .4s cubic-bezier(0.16, 1, 0.5, 1);
        }
        .user_name {
          padding: .8rem 3rem;
          width: 100%;
          font-size: var(--fs-17);
          text-align: center;
          white-space: nowrap;
          // color: var(--light-border3);
          color: rgba(16, 0, 43, 0.3);
          font-weight: var(--fw-medium) !important;
          cursor: text;
        }
        a {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
          font-size: var(--fs-15);
          font-weight: var(--fw-regular);
          color: var(--primary-3);
          letter-spacing: .4px;
          width: 100%;
          white-space: nowrap;
          padding: .8rem 2rem;
          border-top: 1px solid var(--light-border3);
          svg {
            fill: var(--primary-3);
            width: 20px;
            height: 20px;
          }
          &:hover {
            background: var(--light-bg);
            background: #7b2cbf06;
            color: var(--primary-5);
            svg {
              fill: var(--primary-5);
            }
          }
        }
      }

    }

  }

  // Hamburger Icon Container(for Mobile Only)
  #mobileMenu {
    display: none;
    .icon {
      position: relative;
      display: block;
      height: 24px;
      width: 24px;
      padding: 1.6rem;
      background: transparent;
      cursor: pointer;

      .menu, .menu::before, .menu::after  {
        content: '';
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        background: var(--primary-6);
        transition: background ease .3s, top ease .3s .3s, transform ease .3s;
      }
      .menu {
        left: 6px;
        top: 15px;
      }
      .menu::before {
        top: -6px;
      }
      .menu::after {
        top: 6px;
      }

      &:hover, &:focus {
        .menu, .menu::before, .menu::after {
          background: var(--secondary);
        }
      }
    }

    input#menu {
      display: none;
    }
    #menu:checked + .icon .menu {
        background: transparent;
    }
    #menu:checked + .icon .menu::before {
        transform: rotate(45deg);
        top: 0;
        transition: top ease .3s, transform ease .3s .3s;
    }
    #menu:checked + .icon .menu::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top ease .3s, transform ease .3s .3s;
    }
  }
  @include breakpoint(medium) {
    #logo {
    	width: 14rem;
      min-width: 10rem;
    }
    nav > a {
      font-size: var(--fs-12);
      padding: 0.5rem 1.8rem;
    }
  }
  @include breakpoint(small) {
    padding-top: 2.4rem;
    justify-content: space-between;
    &.slide {
      #logo {
        transform: translate(4rem, 2.4rem);
      }
      nav {
        transform: translateX(0px);
      }
    }
    nav {
      position: absolute;
      left: 6%;
      top: 2.4rem;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0;
      border-radius: 1.2rem;
      min-width: 22rem;
      padding: 7rem 0 0rem;
      z-index: 5;
      backdrop-filter: blur(40px);
      background: var(--white-60);
      border: 1px solid rgba(23, 14, 65, 0.05);
      transition: transform  ease .5s;
      transform: translateX(-320px);
      box-shadow: var(--shadow-nav-medium);
      > a {
        width: 100%;
        padding: 2rem 4rem;
        border: 0px solid white;
        border-bottom: 1px solid rgba(16, 0, 43, .1);
        border-radius: 0;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        text-align: center;
        &:hover, &:focus, &.active {
          border-color: rgba(16, 0, 43, .1);
          background-color: rgba(252, 248, 255, .4);
        }
      }
      #account, #accountMenu {
        margin: 0;
        width: 100%;
        padding: 2rem 0;
        #accountDropdown {
          top: initial;
          bottom: 0;
          right: initial;
          left: 100%;
          transform: translate(0px, 0px);
          background: var(--white);
          &.active {
            transform: translate(10px, 0px);
          }
        }
      }
    }
    #mobileMenu {
    		display: block
    }
  }
}
