@use '../abstracts/breakpoints' as *;

// ====== TYPOGRAPHY ======

h1 {
	/* font-size: 4.6rem; */
	/* 70% of the base size */
	font-size: clamp(3.22rem, 2.8234rem + 1.0575vw, 4.6rem);
	/* 75% of the base size */
	/* font-size: clamp(3.45rem, 3.1195rem + 0.8812vw, 4.6rem); */
	font-style: normal;
	font-weight: var(--fw-bold);
	line-height: 180%; /* 8.28rem */
	/* letter-spacing: 4px; */
	letter-spacing: 0.086956em; /* 0.4rem; */
	text-transform: uppercase;
	margin: 0;
	background: var(--gradient-hero-text);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1.small {
	/* font-size: 3.2rem; */
	/* 70% of the base size */
	font-size: clamp(2.24rem, 1.9641rem + 0.7356vw, 3.2rem);
	/* 75% of the base size */
	/* font-size: clamp(2.4rem, 2.1701rem + 0.6130vw, 3.2rem); */
	font-weight:  var(--fw-regular);
	letter-spacing: 0.075em; /* 0.24rem */
}

h2 {
	color: var(--primary-3, #3C096C);
	/* font-size: 2.4rem; */
	/* 75% of the base size */
	font-size: clamp(2rem, 1.8851rem + 0.3065vw, 2.4rem);
	font-style: normal;
	line-height: 165%; /* 3.96rem */
	letter-spacing: 0.166em; /* 0.4rem; */
	text-transform: uppercase;
}

h3 {
	color: var(--primary-3, #3C096C);
	/* font-size: 2.4rem; */
	/* 75% of the base size */
	font-family: var(--ff-body);
	font-size: 2.4rem;
	font-style: normal;
	font-weight: var(--fw-bold);
	line-height: 165%; /* 3.96rem */
	letter-spacing: 0.1rem; /* 0.4rem; */
	// text-transform: uppercase;
}

h4 {
	color: var(--primary-3, #3C096C);
	/* font-size: 2.4rem; */
	/* 75% of the base size */
	font-family: var(--ff-body);
	font-size: 2rem;
	font-style: normal;
	font-weight: var(--fw-bold);
	line-height: 165%; /* 3.96rem */
	letter-spacing: 0.08rem; /* 0.4rem; */
	// text-transform: uppercase;
}

h5 {
	color: var(--primary-3, #3C096C);
	/* font-size: 2.4rem; */
	/* 75% of the base size */
	font-family: var(--ff-body);
	font-size: 1.8rem;
	font-style: normal;
	font-weight: var(--fw-bold);
	line-height: 165%; /* 3.96rem */
	letter-spacing: 0.08rem; /* 0.4rem; */
	// text-transform: uppercase;
}

.label {
	/* Label */
	color: var(--primary-1, #10002B);
	font-size: 1.2rem;
	font-style: normal;
	line-height: 130%; /* 1.56rem */
	letter-spacing: 0.24rem;
	text-transform: uppercase;
	margin-bottom: 1.6rem;
	@include breakpoint(small) {
		margin-bottom: 1.2rem;
	}
}

p, li {
	color: var(--body-80, rgba(16, 0, 43, 0.80));
	font-family: var(--ff-body);
	font-size: var(--fs-16);
	font-weight: var(--fw-regular);
	line-height: 165%; /* 2.64rem */
}

p.small {
	font-size: var(--fs-14);
}
