/*This removes styles added by default to button elements.
  For when something should semantically be a button,
  but isn't buttony in appearance.*/
.unbuttonize {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

.bold {
	font-weight: var(--fw-bold);
}

.displayNone {
	display: none !important;
}

%bgCard {
  position: relative;
  height: fit-content;
  border-radius: 2rem;
  border: 1px solid var(--white-50);
  border-bottom-color: #eae4f0;
  border-right-color: #eae4f0;
  box-sizing: border-box;
  box-shadow: var(--shadow-card-medium);
  background: linear-gradient(105deg, var(--white-40) 16.65%, var(--white-10) 79.09%);
  // background: linear-gradient(105deg, var(--white-50) 16.65%, var(--white-20) 79.09%);
}

#overlay {
  pointer-events: none;
  z-index: 1000;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: var(--white-60);
    // backdrop-filter: blur(40px);
  background: var(--white-40);
  backdrop-filter: blur(80px);
  transition: all .25s .2s;
  &.active {
    pointer-events: auto;
    opacity: 1;
    transition: all .25s;
  }
}

.overlayContainer {
  z-index: 1100;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -2rem);
  transition: all .2s;
  &.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -4rem);
    transition: all .2s;
  }
}
