@use '../abstracts' as *;
@use '../base' as *;

#myAccountPage {
  h3 {
    margin-bottom: 2.4rem;
  }
  h4 {
    margin-bottom: 2rem;
  }
  h5{
    margin-bottom: 1.4rem;
  }
  .accountCard {
    background: var(--light-bg);
    padding: 3rem 5rem 3rem 3rem;
    border-radius: 1rem;
    border: 1px dashed var(--light-border2);
    ul {
      transform: translateX(2rem);
      li {
        margin-bottom: .8rem;
        line-height: 160%;
      }
    }
  }
}

#myAccountContainer {
  position: relative;
  margin: 0 4%;
  display: flex;
  flex-flow: row;
  gap: 10rem;
  margin-top: 2rem;
  .wrapper {
    width: 100%;
  }
  @media (max-width: 1000px) {
    .sidebarTrigger {
      display: flex !important;
      margin-left: auto;
      transform: translateY(-2rem);
      // margin-bottom: 2rem;
    }
  }
}
