@use '../abstracts' as *;
@use '../base' as *;

#productsPage {
  background: var(--bg-body);
  #header {
    background: var(--bg-hero);
  }
}

#productsContainer {
  position: relative;
  margin: 0 4%;
  display: flex;
  flex-flow: row;
  gap: 10rem;
  margin-top: 2rem;
  .wrapper {
    width: 100%;
  }
}

#productsContainer #appliedFilters {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  @extend %removeScrollBars;
  > div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  .appliedFilterTitle {
    color: var(--primary-2);
    font-size: var(--fs-13);
    font-weight: var(--fw-regular);
    letter-spacing: 0.04rem;
  }
}

#productsContainer #allProducts {
  padding: 4rem 0;
  // Changing to grid systems
  display: grid;
  grid-template-columns:
  repeat(auto-fill,minmax(28rem, 1fr));
  gap: 3rem;
  .productCard {
    width: auto;
  }
}



@media (max-width: 1000px) {
  #productsContainer {
    gap: 0;
    margin: 0rem 0 2rem;
    #appliedFilters {
      margin: 0;
      padding: 2rem 4.8rem 2rem;
      gap: 3rem;
      width: 100%;
      overflow: auto;
      > div {
        gap: .6rem;
      }
      .sidebarTrigger {
        display: flex !important;
      }
    }
    #allProducts {
      padding: 1rem 4.8rem 4rem;
    }
  }
}
@include breakpoint(small) {
  #productsContainer {
    .appliedFilterTitle {
      display: none;
    }
    #allProducts {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
  }
  #productsPage #faqs {
    padding-top: 4rem !important;
  }
}
