@use '../abstracts/breakpoints' as *;

#productsPage {
  background: var(--bg-body);
  #header {
    background: var(--bg-hero);
  }
}


#productsContainer {
  position: relative;
  margin: 0 4%;
  display: flex;
  flex-flow: row;
  gap: 10rem;
  margin-top: 2rem;
  .wrapper {
    width: 100%;
    // margin: 2rem;
  }
  @media (max-width: 1000px) {
    gap: 0;
    .filters {
      position: absolute;
      z-index: 10;
      transform: translateX(-1000px);
      #productFilters {
        backdrop-filter: blur(80px);
        // background: linear-gradient(105deg, var(--white-80) 16.65%, var(--white-20) 79.09%) !important;
        // background: white;
        background: #ffffff4d;
        box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
      }
    }
  }

  @include breakpoint(small) {
    margin: 2rem 0;
      .wrapper {
        .appliedFilters {
          padding: 2rem 0 2rem 6%;
          gap: 4rem;
          width: 100%;
          overflow-x: auto;
          overflow-y: visible;
            .filterButton {
              display: block;
            }
        }
        #allProducts {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          overflow-x: auto;
          // gap: 3rem;
          padding-left: 6%;
          // width: 26rem;
        }
      }
    }




}

#productsContainer .filters {
  display: flex;
  flex-flow: column;
  gap: 0rem;
  .searchBlock {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 4rem;
    border: 1px solid #0000;
    // border-radius: 10rem;
    // margin: 0 2rem;
    // background: var(--light-bg);
    background: linear-gradient(#FCFAFD, #FCFAFD) padding-box, var(--gradient-transparent) border-box;
    // background: linear-gradient(#FCF8FF, #FCF8FF) padding-box, var(--gradient-transparent) border-box;
    // border: 1px solid var(--light-border2);
    // border-right: 0;
    // border-left: 0;
    display: flex;
    flex-flow: row;
    gap: 1rem;
    align-items: center;
    &:focus-within {
      background: linear-gradient(white, white) padding-box, var(--gradient-transparent) border-box;
    }
    input {
      font-size: var(--fs-12) !important;
      padding: 1.2rem 0;
      &::placeholder {
        // color: var(--light-border2);
        // color: #8666BA;
        color: #9E96AB;
        // color: #BBB5C5;
        font-size: var(--fs-11) !important;
        letter-spacing: 0.14rem;
      }
    }
    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: var(--secondary);
    }
  }
}


#productFilters {
  position: relative;
  position: sticky;
  top: 4rem;
  min-width: 23rem;
  height: fit-content;
  border-radius: 1rem;
  // background: var(--white-80);

  border: 1px solid var(--white-50);
  box-shadow: var(--shadow-card-medium);
  border-bottom-color: #eae4f0;
  border-right-color: #eae4f0;
  box-sizing: border-box;


  background: linear-gradient(105deg, var(--white-40) 16.65%, var(--white-10) 79.09%);
  // margin-top: 9rem;
  header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 1rem;
    // margin-bottom: 1rem;
    p {
      font-family: var(--ff-heading);
      font-size: var(--fs-11);
      font-weight: var(--fw-semi-bold);
      // color: var(--primary-1);
      // color: rgba(#7B2CBF, 0.3);
      color: var(--light-border2);
      text-transform: uppercase;
      letter-spacing: .3rem;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: var(--light-border2);
    }
  }
  .searchBlock {
    padding: 0 2rem;
    border: 1px solid #0000;
    // border-radius: 10rem;
    // margin: 0 2rem;
    // background: var(--light-bg);
    background: linear-gradient(#FCFAFD, #FCFAFD) padding-box, var(--gradient-transparent) border-box;
    // background: linear-gradient(#FCF8FF, #FCF8FF) padding-box, var(--gradient-transparent) border-box;
    // border: 1px solid var(--light-border2);
    // border-right: 0;
    // border-left: 0;
    display: flex;
    flex-flow: row;
    gap: 1rem;
    align-items: center;
    &:focus-within {
      background: linear-gradient(white, white) padding-box, var(--gradient-transparent) border-box;
    }
    input {
      font-size: var(--fs-12) !important;
      padding: 1.2rem 0;
      &::placeholder {
        // color: var(--light-border2);
        // color: #8666BA;
        // color: #9E96AB;
        color: #BBB5C5;
        font-size: var(--fs-11) !important;
        letter-spacing: 0.14rem;
      }
    }
    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: var(--secondary);
    }
  }
}




.appliedFilters {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  // min-height: 4rem;
  // align-items: flex-start;
  // display: flex;
  // // background: rgba(255,255,255,.6);
  // border-radius: 10rem;
  // padding: 4px 0px;
  // border: 1px;
  // width: fit-content;

  .filterButton {
    display: none;
    max-height: 42px;
    border: 1px solid white;
    background: var(--light-bg);
    padding: 10px;
    border-radius: 1rem;
    box-shadow: var(--shadow-elevation-medium);
    svg {
      fill: var(--primary-3);
      width: 2rem;
      height: 2rem;
    }
  }

  > div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  a {
    color: var(--primary-2);
    font-size: var(--fs-13);
    // text-transform: uppercase;
    font-weight: var(--fw-regular);
    letter-spacing: 0.04rem;
    &:hover {
      color: var(--primary-5);
    }
  }
}

#allProducts {
  // display: flex;
  // flex-flow: row wrap;
  // gap: 3rem;
  // justify-content: flex-start;
  padding: 4rem 0;

  // Changing to grid systems
  display: grid;
  grid-template-columns:
  repeat(auto-fill,minmax(28rem, 1fr));
  gap: 3rem;
}


#category {
  display: flex;
  flex-flow: column;
  padding: 1.5rem 0;
  a {
    position: relative;
    padding: .9rem 2rem .9rem 5rem;
    color: var(--primary-2);
    // background: lightgrey;
    span {
      display: inline-flex;
      transition: all .25s;
    }

    &:hover {
      background: rgba(#7B2CBF,.02);
      // color: var(--primary-6);
      // padding-left: 6rem;
      span {
        transform: translateX(1rem);
      }
    }
    &.active {
      span {
        transform: translateX(0) !important;
      }
      background-color: rgba(#7B2CBF,.025);

      // background-color: rgba(#E4C8FC, 0.1);

      // border: 1px solid var(--light-border);
      // border-left: 0;
      // border-right: 0;
      color: var(--primary-6);
    }
    &.active::after {
      position: absolute;
      content: "";
      background-color: var(--primary-6);
      width: 2px;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
    }
    &::before {
      content: '';
      width: 18px;
      height: 100%;
      background: grey;
      position: absolute;
      top: 0;
      left: 2rem;

      background: url("../img/others/category.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-origin: border-box;
      background-position: center center;
      overflow: hidden;
    }
    &.active::before {
      background: url("../img/others/check.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-origin: border-box;
      background-position: center center;
      overflow: hidden;
    }
  }
}
