$breakpoints: (
  small: 720px,
  medium: 1220px,
  large: 1320px,
  huge: 1700px
);

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Invalid breakpoint `#{$name}`.";
  }
  @else {
    @media (max-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}
