@media (width <= 1320px) {
  section#hero {
    justify-content: space-evenly;
    gap: 0;
  }

  section#brands {
    gap: 0;
  }

  section#brands .contentBlock {
    padding: 4rem 0;
  }
}

@media (width <= 1220px) {
  header#header {
    justify-content: center;
  }

  #header #logo {
    width: 14rem;
  }

  section#hero {
    flex-flow: column;
  }

  section#hero .searchBlock {
    gap: 1.4rem;
    padding: 0 2.4rem;
  }

  section#hero .searchBlock svg {
    width: 24px;
    height: 24px;
  }

  section#hero .searchBlock input {
    padding: 1.6rem 0;
  }

  section#hero .searchBlock input::placeholder {
    font-size: var(--fs-12);
  }

  section#hero section.left {
    text-align: center;
    gap: 2rem;
    margin-bottom: .5rem;
    transform: translateY(0);
  }

  section#hero section.right section#playController {
    margin: 15px 0 0;
  }

  section#brands {
    flex-flow: column;
    align-items: center;
    gap: 0;
  }

  section#brands .contentBlock {
    text-align: center;
    min-width: auto;
  }

  section#brands .gradientBG {
    display: none;
  }

  section#brands .brandsBlock img {
    max-height: 240px;
  }

  section#featuredProducts {
    padding-left: 0;
    padding-right: 0;
  }

  section#featuredProducts .wrapper {
    gap: 4rem;
    margin: 4.8rem 0;
  }

  section#about {
    justify-content: space-around;
    gap: 4rem;
    padding: 8rem 2rem;
  }

  section#about section.photo {
    width: 30rem;
    height: 30rem;
  }

  footer#footer {
    padding: 4rem 0 5rem;
  }

  footer#footer section#search {
    order: 3;
  }

  footer#footer section#search .label {
    display: none;
  }

  .link {
    margin-top: 2.4rem;
  }
}

@media (width <= 720px) {
  .label {
    margin-bottom: 1.2rem;
  }

  section#hero {
    padding-bottom: 8rem;
  }

  section#hero section.left {
    gap: 2rem;
  }

  section#hero .searchBlock {
    border-width: 1.5px;
  }

  section#hero .searchBlock svg {
    width: 20px;
    height: 20px;
  }

  section#hero .searchBlock input {
    font-size: var(--fs-14);
    padding: 1.2rem 0;
  }

  section#hero .searchBlock input::placeholder {
    font-size: var(--fs-10);
  }

  section#hero section.right section#playController {
    margin: 30px 0 0;
  }

  section#heroSteps {
    flex-flow: column;
    gap: 30px;
  }

  section#brands {
    padding: 0;
    overflow: hidden;
  }

  section#brands .contentBlock {
    padding-bottom: 3rem;
  }

  section#brands .brandsBlock img {
    max-height: unset;
    min-width: 650px;
  }

  section#brands .link {
    display: none;
  }

  section#featuredProducts {
    padding: 12rem 0 8rem;
  }

  section#featuredProducts .titleBlock {
    margin-bottom: 3rem;
  }

  section#featuredProducts .wrapper {
    flex-flow: row;
    justify-content: flex-start;
    gap: 3rem;
    margin: 0;
    padding: 0 4.8rem 4rem;
    overflow: scroll;
  }

  section#featuredProducts .link {
    margin-top: 1rem !important;
  }

  section#featuredProducts div.productCard {
    width: 26rem;
  }

  div.productCard header {
    padding: 1.4rem;
  }

  div.productCard header .photoBlock {
    height: 20rem;
  }

  div.productCard header img {
    width: auto;
    height: 15rem;
  }

  div.productCard footer {
    height: initial;
    gap: 1.8rem;
    padding: .4rem 2rem 2rem;
  }

  div.productCard footer .detailsBlock {
    gap: 1.2rem;
  }

  div.productCard footer .detailsBlock h5 {
    font-size: var(--fs-12);
  }

  div.productCard footer .priceBlock span {
    font-size: var(--fs-14);
  }

  div.productCard footer .buttonsBlock {
    gap: 1.2rem;
    width: 100%;
  }

  div.productCard footer .buttonsBlock a {
    flex: 1;
    justify-content: center;
    gap: 1.2rem;
  }

  div.productCard footer .buttonsBlock a.play span {
    white-space: nowrap;
    width: 35px;
  }

  section#about section.photo {
    width: 25rem;
    height: 25rem;
  }

  section#faqs {
    padding: 8rem 0 6rem;
  }

  section#faqs .contentBlock {
    margin-top: 3rem;
    padding: 2.4rem 2rem;
  }

  .faq .question {
    font-size: var(--fs-16);
    padding: 2rem 5rem 2rem 1rem;
  }

  .faq .question:after {
    top: 1.5rem;
  }

  .faq .content p {
    font-size: var(--fs-15);
  }

  footer#footer section#search {
    order: 3;
    min-width: 80%;
  }

  .link {
    font-size: var(--fs-12);
  }

  .link:before {
    background-position: 0 -6px;
    transform: translateX(-50px)scale(.8);
  }

  .link:hover:before {
    transform: translateX(-42px)scale(.8);
  }

  .viewMoreButton {
    margin-top: 1.6rem;
  }

  header#header {
    justify-content: space-between;
  }

  header#header.slide #logo {
    transform: translateX(4rem);
  }

  header#header.slide nav {
    transform: translateX(0);
  }

  header#header nav {
    z-index: 5;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: #ffffff4d;
    border: 1px solid #170e410d;
    border-radius: 1.2rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    min-width: 22rem;
    padding: 7rem 0 0;
    transition: transform .5s;
    position: absolute;
    top: 2.4rem;
    left: 6%;
    transform: translateX(-320px);
    box-shadow: 2.8px 2.8px 2.2px #00000005, 6.7px 6.7px 5.3px #00000007, 12.5px 12.5px 10px #00000009, 22.3px 22.3px 17.9px #0000000b, 41.8px 41.8px 33.4px #0000000d, 100px 100px 80px #00000012;
  }

  header#header nav a {
    text-align: center;
    border: 0 solid #fff;
    border-bottom: 1px solid #10002b1a;
    border-radius: 0;
    width: 100%;
    padding: 2rem 4rem;
  }

  header#header nav a:hover {
    background-color: #fcf8ff66;
  }

  header#header svg {
    margin: 2rem auto;
  }

  header #mobileMenu {
    display: block;
  }
}

/*# sourceMappingURL=responsive.css.map */
