/* ===== About Us ===== */
section#about {
	display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 16rem;
    padding: 10rem 0;
    border-top: 1px solid var(--section-border);
    border-bottom: 1px solid var(--section-border);
}

section#about section.photo {
	width: 40rem;
	height: 40rem;
	border-radius: 2.4rem;
	background: var(--white-80, rgba(255, 255, 255, 0.80));
	/* Shadow/15 - 30 - 3% */
	box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.50) inset, 0px 15px 30px 0px rgba(23, 14, 65, 0.03);
}

section#about section.content {
	display: flex;
	flex-flow: column;
	gap: 2.4rem;
	max-width: 510px;
}

section#about .contentBlock  {
	display: flex;
	flex-flow: column;
	gap: 2rem;
}

