/* ===== About Us ===== */
section#about {
	display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 16rem;
    padding: 10rem 0;
    border-top: 1px solid var(--section-border);
    border-bottom: 1px solid var(--section-border);
}

section#about section.photo {
	width: 40rem;
	height: 40rem;
	border-radius: 2.4rem;
	background: var(--white-80, rgba(255, 255, 255, 0.80));
	/* Shadow/15 - 30 - 3% */
	box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.50) inset, 0px 15px 30px 0px rgba(23, 14, 65, 0.03);
}

section#about section.content {
	display: flex;
	flex-flow: column;
	gap: 2.4rem;
	max-width: 510px;
}

section#about .contentBlock  {
	display: flex;
	flex-flow: column;
	gap: 2rem;
}


/* ===== FAQ's ===== */
section#faqs {
	padding: 10rem 0;
	text-align: center;
}

section#faqs .contentBlock {
	display: flex;
	padding: 3.2rem 7.5rem;
	flex-direction: column;
	max-width: 90rem;
	margin: 4.8rem auto 0;
	border-radius: 4rem;
	border: 5px solid #FAF3FF;
	background: var(--white-100, #FFF);
}

.faq {
	border-top: 1px solid rgba(16, 0, 43, 0.10);
	cursor: pointer;
	transition: all .1s;
}
.faq:hover {
	background: #FAF7FC;
}
.faq.active {
	background: #FAF7FC !important;
}

.faq:first-child {
	border-top: 0px;
}

.faq .question {
	position: relative;
	display: flex;
	padding: 2.5rem 5rem 2.5rem 1rem;
	align-items: center;
	align-self: stretch;

	color: var(--body-100, #10002B);
	font-family: var(--ff-body);
	font-size: var(--fs-18);
	font-weight: var(--fw-medium);
	line-height: 133.2%; /* 2.3976rem */
	letter-spacing: 0.1rem;
	text-align: left;
	transition: all .1s
}

.faq.active .question {
	/* padding-left: 2rem; */
	transform: translateX(1rem);
}

.faq .question::after {
	position: absolute;
	top: 2.2rem;
  right: 10px;
  width: 32px;
  height: 32px;
	content: '';
	background: url(../../img/gradient/down_arrow.svg);
	transition: all .2s;
}
.faq.active .question::after {
	transform: rotate(-90deg) translateY(-1rem);
}

.faq .content {
	pointer-events: none;
	display: flex;
	flex-flow: column;
	gap: 1.6rem;
	opacity: 0;
	height: 0;
	color: #727682;
	font-size: var(--fs-18);
	text-align: left;
	padding: 0 5rem 0rem 2rem;
	transition: all .2s;
}

.faq.active .content {
	pointer-events: auto;
	opacity: 1;
	height: auto;
	padding-bottom: 2.5rem;
}


.faq.hidden {
	display: none;
}

.viewMoreButton {
	margin-top: 3rem;
	position: relative;
	display: inline-block;
	width: fit-content;
	/* margin: 0 auto; */
	color: var(--primary-3, #3C096C);
	font-size: 1.2rem;
	font-weight: var(--fw-medium);
	line-height: normal;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	padding: 1rem 2rem;
	padding-left: 4rem;
	/* background: #FAF7FC; */
	border: 1px dashed #D4BAEA;
	border-radius: 1rem;
	transition: all .2s;
	cursor: pointer;
}

.viewMoreButton::before {
	position: absolute;
	width: 32px;
	height: 32px;
	content: "";
	left: 5px;
	top: 4px;
	background: url(../../img/gradient/down_arrow.svg);
	background-repeat: no-repeat;
  background-origin: border-box;
  background-position: left top;
	transform: scale(.85);
  transition: all .2s;
}

.viewMoreButton:hover::before {
	transform: rotate(-90deg) scale(.85);
}


/* Footer Styles */
footer#footer {
	background: var(--bg-footer);
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	padding: 6rem 0 8rem;
}

footer#footer > section {
	display: flex;
	flex-flow: column;
	gap: 3.2rem;
}

footer#footer section#search {
	max-width: 420px;
	width: fill-available;
	width: -webkit-fill-available;
}

footer#footer .label {
	width: fit-content;
	padding: .4rem 0 .3rem;
	border-bottom: 1px dashed var(--secondary);
	color: var(--primary-3);
	margin-bottom: 0px;
}

footer#footer .navBlock {
	display: flex;
	flex-flow: column;
	/* gap: 1.6rem; */
}

.navBlock a {
	color: var(--body-100, #10002B);
	font-family: var(--ff-body);
	font-size: var(--fs-13);
	font-weight: var(--fw-bold);
	line-height: normal;
	letter-spacing: 0.24rem;
	text-transform: uppercase;
	padding: .8rem 0;
	transition: all .1s;
}
.navBlock a:hover {
	color: var(--primary-5);
}
.navBlock a:first-child {
	padding-top: 0;
}

footer#footer #search .seperator {
	width: 100%;
	height: 1px;
	margin: 3.2rem 0;
	background: rgba(16, 0, 43, 0.10);
}
footer#footer #search p.copyright {
	color: var(--body-100, #10002B);
	text-align: center;
	font-family: var(--ff-body);
	font-size: var(--fs-11);
	font-weight: var(--fw-bold);;
	letter-spacing: 0.26rem;
	text-transform: uppercase;
}

footer#footer #contact .phoneEmail {
	display: flex;
	flex-flow: column;
	gap: 1.6rem;
}

footer#footer #contact .phoneEmail span {
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 1.6rem;
}

footer#footer #contact .phoneEmail span a {
	color: var(--body-100, #10002B);
	font-family: var(--ff-body);
	font-size: var(--fs-14);
	font-weight: var(--fw-semi-bold);;
	letter-spacing: 0.24rem;
	transition: all .1s;
}

footer#footer #contact .phoneEmail span a:hover {
	color: var(--primary-5);
}

footer#footer #contact .phoneEmail span svg {
	width: 2rem;
	height: 2rem;
	fill: var(--secondary);
}

footer#footer #contact .social {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin-top: 2.4rem;
}

footer#footer #contact .social span {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	padding: 1rem;
	border-radius: 5rem;
	/* border: 1px dashed #D4BAEA; */
	background-color: var(--white-50);
	box-sizing: border-box;
	cursor: pointer;
	transition: all .2s;
}

footer#footer #contact .social span:hover {
	background: white;
}

footer#footer #contact .social span.fancyButton:after {
	border-radius: 5rem;
}

footer#footer #contact .social span.fancyButton:hover:after {
	top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
}

footer#footer #contact .social svg {
	width: 2rem;
	height: 2rem;
	fill: none;
	stroke: rgb(85, 26, 139);
	transition: all .2s;
}
footer#footer #contact .social span:hover svg {
	transform: scale(1.2);
}
