header#header {
	display: flex;
	padding: 4.8rem 10%;
	justify-content: space-between;
	align-items: center;
}

#header nav {
	display: flex;
	padding: 0rem 2rem;
	justify-content: center;
	align-items: center;
/*	gap: 4.8rem;*/
}

#header nav * {
	color: var(--primary-1);
	font-size: var(--fs-13);
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.24rem;
	text-transform: uppercase;
	cursor: pointer;
}

#header nav a {
	padding: .5rem 2.4rem;
	border-radius: 2.4rem;
	transition: all .2s;
	border: 1px dashed transparent;
}

#header nav a:hover {
	color: var(--primary-5);
	background-color: #FCF8FF;
	border-color: #E4C8FC;
}

#header nav svg {
	fill: var(--primary-1);
	margin-left: 2.4rem;
}

#header nav svg:hover {
	fill: var(--primary-5);
}
