header#header {
	position: relative;
	display: flex;
	padding: 4.8rem min(6%, 10rem);
	justify-content: space-between;
	align-items: center;
}

#header #logo {
	position: relative;
	width: 16rem;
	z-index: 10;
	transition: transform .2s;
}

#header nav {
	display: flex;
	padding: 0rem 2rem;
	justify-content: center;
	align-items: center;
/*	gap: 4.8rem;*/
}

#header nav * {
	color: var(--primary-1);
	font-size: var(--fs-13);
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.24rem;
	text-transform: uppercase;
	cursor: pointer;
}

#header nav a {
	padding: .5rem 2.4rem;
	border-radius: 2.4rem;
	transition: all ease .1s;
	border: 1px dashed transparent;
}

#header nav a:hover {
	color: var(--primary-5);
	background-color: #FCF8FF;
	border-color: #E4C8FC;
}

#header nav svg {
	fill: var(--primary-1);
	margin-left: 2.4rem;
}

#header nav svg:hover {
	fill: var(--primary-5);
}

 /* Mobile Menu Styles */
#mobileMenu {
	display: none;
}
#mobileMenu input#menu {
    display: none;
}

#mobileMenu .icon {
    background: transparent;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 16px;
    width: 24px;
}

#mobileMenu label.icon {
    /* position: fixed;
    z-index: 200; */
		position: relative;
    display: block;
}

#mobileMenu .icon .menu,
#mobileMenu .icon .menu::before,
#mobileMenu .icon .menu::after {
    /* background: #9FB1BD; */
		background: var(--primary-6);
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease .3s, top ease .3s .3s, transform ease .3s;
    width: 20px;
}

#mobileMenu .icon:hover .menu,
#mobileMenu .icon:hover .menu::before,
#mobileMenu .icon:hover .menu::after {
    /* background: #47B74B; */
		background: var(--secondary);
}

#mobileMenu .icon .menu {
    /* left: 18px;
    top: 27px; */
		/* left: 0px;
    top: 7px; */
		left: 6px;
		top: 15px;
}

#mobileMenu .icon .menu::before {
    top: -6px;
}

#mobileMenu .icon .menu::after {
    top: 6px;
}

#mobileMenu #menu:checked + .icon .menu {
    background: transparent;
}

#mobileMenu #menu:checked + .icon .menu::before {
    transform: rotate(45deg);
}

#mobileMenu #menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
}

#mobileMenu #menu:checked + .icon .menu::before,
#mobileMenu #menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease .3s, transform ease .3s .3s;
}

/* #menu:checked ~ nav {
    width: 200px;
} */
