/* Generic CSS  */
@import "../normalize.css";
@import "../variables.css";
@import "../commons.css";
/* CSS Blocks  */
@import "../blocks/header.css";
@import "../blocks/hero_animation.css";
@import "../blocks/product_card.css";
@import "../blocks/footer.css";

div#headerWrapper {
	background: var(--bg-hero);
}

section#hero {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 15rem;
	position: relative;
	padding-top: 9px;
	padding-bottom: 102px;

	background: url(../../img/gradient/hero_bg.svg);
	background-repeat: no-repeat;
	background-size: initial;
  background-origin: border-box;
  background-position: bottom right;
	overflow: hidden;
}

section#hero section.left {
/*	position: relative;
	z-index: 1;*/
	max-width: 540px;
	display: flex;
	flex-flow: column;
	gap: 3rem;
	transform: translateY(15px);
}

section#hero h1 {
	position: relative;
}

section#hero h1 span {
	background-image: url("../../img/gradient/highlight.svg");
	background-repeat: no-repeat;
	background-position: bottom;
}

section#hero .searchBlock {
	border: 2px solid transparent;
	background: linear-gradient(#F8F5FB, #F8F5FB) padding-box, var(--gradient-transparent) border-box;
}
section#hero .searchBlock:focus-within {
	background: linear-gradient(#FEFCFF, #FEFCFF) padding-box, var(--gradient-transparent) border-box;
}
section#hero .searchBlock svg {
	width: 30px;
	height: 30px;
}
section#hero .searchBlock input {
	padding: 2.4rem 0;
}
section#hero .searchBlock input::placeholder {
	font-size: var(--fs-14);
}


section#hero section.right {
	max-width: 680px;
/*	position: relative;
	z-index: 1;*/
}

section#hero section.right section#playController {
	position: relative;
	display: flex;
	flex-flow: row;
	align-items: center;
	width: fit-content;
	margin-bottom: 15px;
	transform: translateX(-15px);
}

#circularProgressBlock {
	position: relative;
	display: flex;
	align-items: center;
}

/*#playButton {
	fill: #3C096C;
	position: absolute;
	top: 23px;
	left: 23px;
	z-index: 1;
}*/

svg#circularProgress {
	transform:rotate(-90deg);
	position: relative;
	z-index: 1;
/*	width: 40px;
	height: 40px;*/
/*	filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));*/
}

#circularProgress .default {
	fill: var(--white);
/*	stroke: #F6F2FC;*/
	stroke: #E4C8FC;
	stroke-width: 1;
	stroke-dasharray: 157;
	stroke-dashoffset: 0;
}

#circularProgress .progress {
	fill: transparent;
	stroke: var(--tertiary);
	stroke-width: 2;
	stroke-linecap: round;
	stroke-dasharray: 157;
	stroke-dashoffset: 157;
}
#circularProgress .progress.active {
	animation: circleProgressBar 6s linear forwards infinite;
}
@keyframes circleProgressBar {
    from {
    stroke-dashoffset: 157;
  }
  to {
    stroke-dashoffset: 0;
  }
}

section#playController span.stepCount {
	display: inline-flex;
	padding: 0.4rem 1.4rem 0.4rem 1.8rem;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 0rem 0.8rem 0.8rem 0rem;
/*	background: #f9f1ff;*/
/*	background: var(--white);*/
	background-color: #FEFCFF;
	border: 1px dashed #E4C8FC;
	border-style: solid;
	color: var(--primary-6);
	font-size: var(--fs-13);
	font-weight: var(--fw-semi-bold);
	letter-spacing: 0.24rem;
	text-transform: uppercase;
	height: fit-content;
	transition: all.2s;

	transform: translateX(-21px);
  z-index: 0;
}

section#playController span.stepCount.initial {
	background: #f9f1ff;
	border-color: transparent;
}



section#playController span.stepCount span.running {
	transition: all .2s ease;
	animation: stepCountAnimate 6s linear infinite;
}
@keyframes stepCountAnimate {
  0% {
		transform: translateX(-20px);
/*		opacity: 0;*/

	}
	5%, 100% {
		transform: translateX(0px);
/*		opacity: 1;*/
	}
}

section#heroSteps {
	display: flex;
	flex-flow: row wrap;
	gap: 40px;
	justify-content: center;
}

/*[class^="step-"] */

section#heroSteps .stepBlock {
	position: relative;
	z-index: 1;
	background: lightgrey;
	min-width: 32rem;
	padding: 22px 32px;
	border-radius: 1.6rem;
	border: 2px solid rgba(255, 255, 255, .5);
	border-right: 2px solid rgba(255, 255, 255, .24);
	border-bottom: 2px solid rgba(255, 255, 255, .24);
	background: linear-gradient(105deg, rgba(255, 255, 255, 0.40) 16.65%, rgba(255, 255, 255, 0.10) 79.09%);
/*background: linear-gradient(105deg, rgba(255, 255, 255, 0.50) 16.65%, rgba(255, 255, 255, 0.20) 79.09%);*/

/*	background:
		linear-gradient(105deg, rgba(255, 255, 255, 0.40) 16.65%, rgba(255, 255, 255, 0.10) 79.09%) padding-box,
		linear-gradient(104deg, rgba(255, 255, 255, 0.50) 21.51%, rgba(255, 255, 255, 0.00) 51.06%, rgba(255, 255, 255, 0.00) 75.75%, rgba(255, 255, 255, 0.24) 93.33%) border-box;
*/
/*	Black Transparent Border */
/*	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);*/
	/*	Pink Transparent Border */
	box-shadow: 0px 4px 8px 0px rgba(23, 14, 65, 0.10);
/*	backdrop-filter: blur(10px);*/
	backdrop-filter: blur(14px);
	transform: scale(1);
	transition: all .2s;
	cursor: pointer;

}

section#heroSteps .stepBlock:hover {
/*	transform: scale(1.02);*/
	box-shadow: 0px 12px 24px 0px rgba(23, 14, 65, 0.10);
}

/*section#heroSteps .stepBlock.active:hover {
	transform: scale(1);
	box-shadow: 0px 4px 8px 0px rgba(23, 14, 65, 0.10);
}*/

section#heroSteps .stepBlock svg {
	display: block;
	fill: var(--secondary);
	transition: all .5s 0s ease;
}

section#heroSteps .stepBlock.active svg {
/*	transform: translateX(-54px);*/
	transform: translateX(-50px);
	transition: all .5s 0s ease;
}


section#heroSteps .stepBlock h4 {
	color: var(--primary-1, #10002B);
	font-size: var(--fs-16);
	font-weight: var(--fw-semi-bold);
	letter-spacing: 0.24rem;
	text-transform: uppercase;
	margin: 2rem 0 0;
	transition: all .5s 0s ease;
}

section#heroSteps .stepBlock.active h4 {
	transform: translateY(-50px);
	transition: all .5s 0s ease;
}

section#heroSteps .stepBlock p {
	opacity: 0;
	max-width: 265px;
	position: absolute;
	left: 34px;
	bottom: 0px;

	color: rgba(16, 0, 43, 0.84);
	font-family: var(--ff-body);
	font-size: var(--fs-14);
	font-style: normal;
	font-weight: var(--fw-normal);;
	line-height: 140%;
	transition: all .2s 0s ease;
}

section#heroSteps .stepBlock.active p {
	opacity: 1;
	transform: translateY(-20px);
	transition: all .5s .3s ease;
}









/*
  #play-button-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #009688;
  }*/
/* .play-button {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    transition: clip-path .3s ease;
    background: #009688;
  }
  .play-button-before {
    clip-path: polygon(0 0, 50% 25%, 50% 75%, 0% 100%);
  }
  .play-button-after {
    clip-path: polygon(50% 25%, 100% 50%, 100% 50%, 50% 75%);
  }
  section#playController:hover .play-button-before {
    clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
  }
  section#playController:hover .play-button-after{
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%)
  }
*/

#playButton {
	width: 50px;
	height: 50px;
	padding: 10px;
	fill: var(--primary-6);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	cursor: pointer;
	transform: scale(.8);
	transition: transform .2s;
}

#playController #playButton:hover {
	transform: scale(1);
}




#bodyContentsWrapper {
	width: 100%;
	background: var(--bg-body);
}

section#brands {
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: center;
	gap: 4rem;
	padding: 0 4%;
}

section#brands .contentBlock {
	position: relative;
	z-index: 2;
	padding: 10rem 0;
	min-width: 451px;
}

section#brands .gradientBG {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(241, 236, 248, 0.00) 85.44%, #F2ECF8 100%), linear-gradient(96deg, #EFE9F6 42.46%, rgba(239, 233, 246, 0.00) 49.68%);
}

section#brands .brandsBlock {
  position: relative;
	display: flex;
	align-items: center;
  z-index: 0;
}
section#brands .brandsBlock img {
	max-height: 276px;
}

section#brands .contentBlock .link {
	margin-top: 4rem;
}







section#featuredProducts {
	padding: 10rem 10rem 8.8rem;
	text-align: center;
}

section#featuredProducts .titleBlock {
	text-align: center;
	margin-bottom: 4.8rem;
}

section#featuredProducts .wrapper {
	display: flex;
	padding: 0rem 4rem;
	margin: 4.8rem 0 6rem;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 6rem 4rem;
	flex-wrap: wrap;
}
